.section {
    display: grid;
    gap: 2rem;
    max-width: var(--wrapper-size);
    padding-inline: var(--wrapper-padding);
    padding-block: 4rem;
    margin-inline: auto;
}

.textbox {
    display: grid;
    gap: 1rem;
}

.title {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.desc {
    text-align: center;
    color: gray;
}