.section {
    color: var(--white);
    background-color: var(--black);
    padding-block: 5rem;
}

.wrapper {
    display: grid;
    place-items: center;
    gap: 2.4rem;
    max-width: var(--wrapper-size);
    margin-inline: auto;
    padding-inline: var(--wrapper-padding);
    padding-block: 1.5rem;
}

.logoWrapper {
    display: grid;
}

.logoWrapper img {
    max-height: 2.4rem;
    width: fit-content;
}

.navMenu {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    text-align: center;
    padding-block: 2.6rem;
}

.socialMenu {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.socialMenu li {
    width: 2.4rem;
    height: 2.4rem;
}

.copyright {
    color: var(--dark-gray);
}

@media only screen and (min-width:70rem) {
    .logoWrapper img {
        max-height: 3.2rem;
    }
}