@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,300;1,300&display=swap');

:root {
  --wrapper-size: 1200px;
  --wrapper-padding: 1rem;

  --ff-primary: 'Josefin Sans', sans-serif;
  --ff-secondary: 'Alata', sans-serif;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-secondary);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
}

html:focus-within {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  text-transform: uppercase;
  font-family: var(--ff-heading);
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img,
svg,
picture {
  width: 100%;
  height: auto;
}