.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 30;
}

.header[data-header-active="true"] {
    position: fixed;
    inset-inline: var(--wrapper-padding);
}

.logoWrapper {
    display: grid;
    z-index: 30;
}

.logoWrapper img {
    max-height: 2.4rem;
    width: fit-content;
}

.navToggler {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 30;
}

.navToggler[data-nav-toggler-active="false"] {
    background-image: url("/icon-hamburger.svg");
}

.navToggler[data-nav-toggler-active="true"] {
    background-image: url("/icon-close.svg");
}

.navigationMenu {
    min-height: 100vh;
    padding-inline: var(--wrapper-padding);
    position: fixed;
    inset: 0;
    color: var(--white);
    background-color: var(--black);
    font-size: 1.6rem;
    font-weight: 300;
    font-family: var(--ff-heading);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.2rem;
    z-index: 20;
    translate: 100%;
    transition: all .3s ease-in-out;
}

.navigationMenu[data-nav-menu-active="false"] {
    translate: 100%;
}

.navigationMenu[data-nav-menu-active="true"] {
    translate: 0%;
}

@media only screen and (min-width:70em) {
    .logoWrapper img {
        max-height: 3.2rem;
    }

    .navToggler {
        display: none;
    }

    .navigationMenu {
        position: static;
        min-height: fit-content;
        flex-direction: row;
        gap: 3.2rem;
        color: var(--white);
        background-color: transparent;
        font-size: var(--fs-body);
        font-weight: 400;
        text-transform: none;
        font-family: var(--ff-secondary);
    }

    .navigationMenu[data-nav-menu-active="false"] {
        translate: 0%;
    }

    .navigationMenu li a:is(:hover, :focus) {
        padding-block-end: .8rem;
        border-bottom: 2px solid var(--white);
    }
}