.intro {
    min-height: 100vh;
    position: relative;
    color: var(--white);
    background-image: url("/mobile/image-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headerWrapper {
    max-width: var(--wrapper-size);
    padding-inline: var(--wrapper-padding);
    margin-inline: auto;
    padding-block: 4rem;
}

.heroWrapper {
    position: absolute;
    inset: 0;
    z-index: 10;
    display: grid;
    place-items: center;
    max-width: var(--wrapper-size);
    padding-inline: var(--wrapper-padding);
    margin-inline: auto;
}

.main {
    display: grid;
    gap: 8rem;
    padding-block: 8rem;
}

@media only screen and (min-width:70rem) {

    .intro {
        background-image: url("/desktop/image-hero.jpg");
    }

    .headerWrapper {
        padding-block: 6.4rem;
    }

    .heroWrapper {
        align-items: center;
        justify-items: start;
    }
}