.section {
    display: grid;
    gap: 3.2rem;
    max-width: var(--wrapper-size);
    margin-inline: auto;
    padding-inline: var(--wrapper-padding);
}

.title {
    font-size: 2.4rem;
    text-align: center;
}

.cardWrapper {
    display: grid;
    gap: var(--wrapper-padding);
}

.card {
    position: relative
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8883928571428571) 0%, rgba(0, 212, 255, 0) 100%);
}

.cardTitle {
    position: absolute;
    bottom: var(--wrapper-padding);
    left: var(--wrapper-padding);
    color: var(--white);
    text-transform: uppercase;
    max-width: 9ch;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: var(--ff-heading);
}

.button {
    place-self: center;
    text-align: left;
    padding: 1.6em 3.6em;
    font-size: 1.1rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-family: var(--ff-body);
    border: 1px solid var(--black);
    max-width: fit-content;
}